<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="createAccount.css" />
</head>
<body>

<div class = container> 
  <div class = holder>

    <div class = form>
          <input type="text" id="username" placeholder="Introdu numele de utilizator..." />
          <input type="text" id="password" placeholder="Introdu parola..." />
          <input type="text" id="name" placeholder="Introdu nume..." />
          <input type="text" id="surname" placeholder="Introdu prenumele..." />
          <input type="text" id="phone" placeholder="Introdu numarul de telefon..." />
          <input type="text" id="email" placeholder="Introdu adresa de email..." />
          <input type="text" id="birth" placeholder="Introdu data nasterii..." />
    </div>

  </div>
  <div class = holder>
    <div class = buttons>
      <button class = "create" onclick="createAccount()">
        Create
      </button>
      <button class = "back" onclick="goBackToLogin()">
        Go back
      </button>
    </div>
  </div>
</div>
<script src="createAccount.js"></script>
</body>
</html>
