<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="createAccount.css" />
</head>
<body>

<div class = container> 
  <div class = holder>

    <div class = form>
      <input type="text" id="username" placeholder="Enter username..." />
      <input type="text" id="password" placeholder="Enter password..." />
      <input type="text" id="name" placeholder="Enter name..." />
      <input type="text" id="surname" placeholder="Enter surname..." />
      <input type="text" id="phone" placeholder="Enter phone number..." />
      <input type="text" id="email" placeholder="Enter email..." />
      <input type="text" id="birth" placeholder="Enter birth date..." />
    </div>

  </div>
  <div class = holder>
    <div class = buttons>
      <button class = "create">
        Create
      </button>
      <button class = "back" onclick="goBackToLogin()">
        Go back
      </button>
    </div>
  </div>
</div>
<script src="createAccount.js"></script>
</body>
</html>
