<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Personale Pacienti</title>
    <link rel="stylesheet" href="viewDatePersonalePacientDoc.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
<div class="container">
    <h1>Date Personale Pacienti</h1>
    <table id="datePersonaleTable">
        <thead>
        <tr>
            <th>Username</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Data Nastere</th>
        </tr>
        </thead>
        <tbody id="datePersonaleTableBody">
        </tbody>
    </table>
    <div id="nav-bar">
        <button id="btn-prev" class="nav-btn" onclick="previous()">« Previous</button>
        <button id="btn-next" class="nav-btn" onclick="next()">Next »</button>
    </div>
</div>
<script src="viewDatePersonalePacientDoc.js"></script>
</body>
</html>
