.container {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height: 100vh;
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
  border: 5px solid #333333;
  border-top: none;
}
td,th{
    text-align: center;
    padding: 5px;
}
th {
    background-color: #2c6cbc;
    border: 5px solid #333333;
    border-left: 1px solid #333333;
    border-right:1px solid #333333;

 }
td{
    background-color: #71c3f7;
    border: 1px solid #333333;
 }
