<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programari</title>
    <link rel="stylesheet" href="viewFacturi.css">
    <link rel="stylesheet" href="viewProgramariDoc.css">
    <link rel="stylesheet" href="navigation.css">
</head>
<body>
<div class="container">
    <h1>Programarile mele</h1>
    <table id="programariTable">
        <thead>
        <tr>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Data Emitere</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="programariTableBody">
        </tbody>
    </table>
    <div id="nav-bar">
        <button id="btn-prev" class="nav-btn" onclick="previous()">« Previous</button>
        <button id="btn-next" class="nav-btn" onclick="next()">Next »</button>
    </div>
</div>

<div id="consultatieModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 class="modal-title" id="modalTitle">Consultatia programarii</h2>
        <form id="consultatieForm" onsubmit="handleFormSubmit(event)">
            <input type="hidden" id="programareId">
            <div class="form-group">
                <label for="diagnostic">Diagnostic</label>
                <input type="text" id="diagnostic" required>
            </div>
            <div class="form-group">
                <label for="simptome">Simptome</label>
                <input type="text" id="simptome" required>
            </div>
            <div class="form-group">
                <label for="cost">Cost</label>
                <input type="number" id="cost" required>
            </div>
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" id="data" required>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 10px;">Save Consultatie</button>
        </form>
    </div>
</div>

<script src="viewProgramariDoc.js"></script>
</body>
</html>
